{% extends 'base.html' %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Libreria Lopes</title>
  <link rel="stylesheet" href="/static/elEstilo.css" type="text/css">
  <link rel="icon" href="/static/image/libroParaIcon.jfif">
</head>

<body>
  <div class="row">
    <div class="container textoEnvio">
    </div>
  <div class="row">
</div>
</div>
    <section>
      <h3 id="titulos">JOSE MARIA ARGUEDAS</h3>
      <div class="col-xs-12">
        <div id="libros">
          <article >
            <a   title="El Hechizo Del Agua"></a>
          <img id="tamanioLibros"  title="" alt="" 
          src="/static/image/Jose_Maria_Arguedas/agoniadelpongo.jpg" >
          <p></p>

          </article>
        </div>
        <div>
          <article id="libros">
              <a href="www.google.com" title="Caballo de fuego"></a>
            <img id="tamanioLibros" title="Caballo de fuego" alt="Caballo de fuego" 
            src="/static/image/Jose_Maria_Arguedas/El-sexto.jpg" >
            <p></p>
            
            </article>
          </div>
          <div>
            <article id="libros">
              <a  title="El Monje que vendio su ferrari"></a>
            <img id="tamanioLibros" title="El Monje que vendio su ferrari" alt=" El Monje que vendio su ferrari" 
            src="/static/image/Jose_Maria_Arguedas/jose-maria-arguedas-yawar-fiesta.jpg" >
            <p></p>

            </article>
          </div>
          <div>
            <article id="libros">
              <a  title="El libro mas lindo del mundo"></a>
            <img id="tamanioLibros" title="El libro mas lindo del mundo" alt=" El libro mas lindo del mundo" 
            src="/static/image/Jose_Maria_Arguedas/los-rios-profundos-jose-maria-arguedas.jpg" >
            <p></p>
            </article>
          </div>
          <div>
            <article id="libros">
              <a  title="Una vida en Oxford"></a>
            <img id="tamanioLibros" title="Una vida en Oxford" alt=" Una vida en Oxford" 
            src="/static/image/Jose_Maria_Arguedas/todaslassangres.jpg" >
            <p></p>
            </article>
          </div>
          
    </div>
    <h3 id="titulos">MARIO VARGAS LLOSA</h3>
      <div class="col-xs-12">
        <div id="libros">
          <article >
            <a   title="Infocracia"></a>
            <img id="tamanioLibros" title="Infocracia" alt=" Infocracia" 
            src="/static/image/Mario/1278129travesuras-de-la-nina-malajpg.jpg">
            <p></p>

          </article>
        </div>
          <div>
            <article id="libros">
              <a  title="Calles"></a>
            <img id="tamanioLibros" title="Calles" alt="Calles" 
            src="/static/image/Mario/conversacionenlacatedral.jpg" >
            <p></p>
  
            </article>
          </div>
            <div>
              <article id="libros">
                <a   title="No-cosas"></a>
              <img id="tamanioLibros" title="No-cosas" alt=" No-cosas" 
              src="/static/image/Mario/la-fiesta-del-chivo-resumen.jpg" >
              <p></p>

              </article>
      </div>
      <div>
        <article id="libros">
          <a   title="Los cuatro acuerdos"></a>
        <img id="tamanioLibros" title="Los cuatro acuerdos" alt="Los cuatro acuerdos" 
        src="/static/image/Mario/los-jefes.jpg" >
        <p></p>
     
        </article>
</div>

<div>
  <article id="libros">
    <a   title="El italiano"></a>
  <img id="tamanioLibros" title="El italiano" alt="El italiano" 
  src="/static/image/Mario/loscachorros.jpg"">
  <p></p>

  </article>
</div>
    </div>
    <h3 id="titulos">JOSE CARLOS MARIATEGUI</h3>
      <div class="col-xs-12">
        <div id="libros">
          <article id="manga" >
            <a   title="Dragon Ball Volumen 1"></a>
          <img id="tamanioLibros" title="Dragon Ball Volumen 1" alt=" Dragon Ball Volumen 1" 
          src="/static/image/Jose_Carlos/almamatinal.jpg" >
          <p></p>
  
          </article>
        </div>
          <div>
            <article id="libros">
              <a  title="One piece volumen 1"></a>
            <img id="tamanioLibros" title="One piece volumen 1" alt=" One piece volumen 1" 
            src="/static/image/Jose_Carlos/cartu1.jpg">
            <p></p>
   
            </article>
          </div>
            <div>
              <article id="libros">
                <a   title="Monster volumen 1"></a>
              <img id="tamanioLibros" title="Monster volumen 1" alt=" Monster volumen 1" 
              src="/static/image/Jose_Carlos/chaplin.jpg" >
              <p></p>
    
            </article>
      </div>
      <div>
        <article id="libros">
          <a   title="Shaman King volumen 7"></a>
        <img id="tamanioLibros" title="Shaman King volumen 7" alt=" Shaman King volumen 7" 
        src="/static/image/Jose_Carlos/novelavida.jpg" >
        <p></p>

        </article>
      </div>
      <div>
        <article id="libros">
          <a   title="Slam Dunk volumen 4"></a>
        <img id="tamanioLibros" title="Slam Dunk volumen 4" alt="Slam Dunk volumen 4" 
        src="/static/image/Jose_Carlos/portada.jpg" >
        <p></p>

        </article>
      </div>
    </div>
    <h3 id="titulos">CIRO ALEGRIA</h3>
      <div class="col-xs-12">
        <div id="libros">
          <article id="manga" >
            <a   title="Dragon Ball Volumen 1"></a>
          <img id="tamanioLibros" title="Dragon Ball Volumen 1" alt=" Dragon Ball Volumen 1" 
          src="/static/image/Ciro/el-mundo-es-ancho-y-ajeno-ciro-alegria.jpg" >
          <p></p>
     
          </article>
        </div>
          <div>
            <article id="libros">
              <a  title="One piece volumen 1"></a>
            <img id="tamanioLibros" title="One piece volumen 1" alt=" One piece volumen 1" 
            src="/static/image/Ciro/maxresdefault.jpg">
            <p></p>
       
            </article>
          </div>
            <div>
              <article id="libros">
                <a   title="Monster volumen 1"></a>
              <img id="tamanioLibros" title="Monster volumen 1" alt=" Monster volumen 1" 
              src="/static/image/Ciro/sacha.jpg" >
              <p></p>

            </article>
      </div>
      <div>
        <article id="libros">
          <a   title="Shaman King volumen 7"></a>
        <img id="tamanioLibros" title="Shaman King volumen 7" alt=" Shaman King volumen 7" 
        src="/static/image/Ciro/losperrohambrientos.jpg" >
        <p></p>
 
        </article>
      </div>
      <div>
        <article id="libros">
          <a   title="Slam Dunk volumen 4"></a>
        <img id="tamanioLibros" title="Slam Dunk volumen 4" alt="Slam Dunk volumen 4" 
        src="/static/image/Ciro/oronogero.jpg" >
        <p></p>
    
        </article>
      </div>
    </div>

</body>
{% endblock %}

