<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos2.css" type="text/css">
    <title>Serendipity</title>
</head>

<body>
    <header class="navbar">
        <a class="logo" href="{{url_for('index')}}"> Serendipity <img class="logocafe"
                src="/static/image/decoration/flor.png" alt="so"> <span>Organization</span></a>

        <nav class="menu">
            <ul class="primary-nav">
                <li class="current"><a href="#">HOME</a></li>
                <li><a href="{{url_for('lib')}}">ADD AUTHOR</a></li>
                <li><a href="{{url_for('LibrosRegistro')}}">ADD BOOK</a></li>
                <li><a href="{{url_for('ranking')}}">VOTE</a></li>
                <li><a href="{{url_for('Votados')}}">TOP</a></li>
            </ul>
        </nav>

    </header>

    <section class="hero">
        <div class="container">
            <h1>RECONOCIENDO TALENTOS</h1>
            <p>Serendipia significa encontrar algo afortunado o inesperado que se produce cuando estás buscando algo distinto, nuestra organización espera de ti encontrar a aquello inesperado que puede deslumbrarte.</p>
           <br>
            <p>Somos una organización que aprecia el talento de aquellos escritores peruanos que representan nuestra
                cultura a traves del arte de la literatura.</p>

        </div>
        <img class="taza" src="/static/image/decoration/LOGOO.png" alt="org">
    </section>

    <section class="features-section">
        <div class="container">
            <div class="div-right">
                <h2>MISIÓN</h2>
                <P>Reconocer el talento de los escritores peruanos y darles un aprecio significativo por parte de la
                    población.</P>
            </div>
            <div class="div-left">
                <h2>VISIÓN</h2>
                <p>Escritores peruanos marcando historia en el mundo de la literatura de nuestro pais y del mundo.</p>
            </div>
        </div>
    </section>
    <footer class="content">
        <h1>Una buena casualidad</h1>
        <a href="{{url_for('ranking')}}">VOTE</a>
    </footer>
</body>

</html>