<link rel="stylesheet" href="/static/estilos2.css" type="text/css">


<header class="navbar">
  <a class="logo" href="{{url_for('index')}}"> Serendipity <img class="logocafe" src="/static/image/decoration/flor.png"
      alt="so"> <span>Organization</span></a>

  <nav class="menu">
    <ul class="primary-nav">
      <li class="current"><a href="{{url_for('index')}}">HOME</a></li>
      <li><a href="{{url_for('lib')}}">ADD AUTHOR</a></li>
      <li><a href="{{url_for('LibrosRegistro')}}">ADD BOOK</a></li>
      <li><a href="{{url_for('ranking')}}">VOTE</a></li>
      <li><a href="{{url_for('Votados')}}">TOP</a></li>
    </ul>
  </nav>

</header>