<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos2.css" type="text/css">
    <title>CAFE</title>
</head>

<body>
    <header class="navbar">
        <a class="logo" href="{{url_for('index')}}">  Serendipity <img class="logocafe" src="/static/flor.png" alt="so"> <span>Organization</span></a>

        <nav class="menu">
            <ul class="primary-nav">
                <li class="current"><a href="#">HOME</a></li>
                <li><a href="#">ADD</a></li>
                <li><a href="#">TOP</a></li>
                <li><a href="#">ADMIN</a></li>
            </ul>
        </nav>

    </header>

    <section class="hero">
        <div class="container">
            <h1>RECONOCIENDO TALENTOS</h1>
            <p>Somos una organización que aprecia el talento de aquellos escritores peruanos que representan nuestra cultura a traves de un conjuntode letras que tienen significados del mas alla</p>
           
        </div>
        <img class="taza" src="/static/image/decoration/LOGOO.png" alt="org">
    </section>

    <section class="features-section">
        <div class="container">
            <div class="div-right">
                <h2>VEN AL BRUNCH LOS DOMINGOS</h2>
                <P>Candy canes chocolate cake topping liquorice candy canes.</P>
                <p>Croissant candy sweet, Bonbon liquorice icing souffle muffin gingerbread gingerbread</p>
            </div>
            <div class="div-left">
                <h2>CELEBRA TUS FIESTAS CON NOSOTROS</h2>
                <p>Pudding toffe oat cake pie tootsie roll gummi bears jelly. Fruitcake tiramisu biscuit fruitcake,
                    Tootsie roll sesame.</p>
            </div>
        </div>
    </section>
    <footer>Marycielo Xiomara Oscco Guillen-2021</footer>
</body>

</html>