{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Autor</th>
        <th scope="col">Libro</th>
        <th scope="col">Puntaje</th>
      </tr>
    </thead>
    <tbody>
      {% for consulta in consultas %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{consulta.autor_c}}</td>
        <td>{{consulta.libro_c}}</td>

        <form method="POST" action="{{url_for('Votar', titulo=consulta.libro_c)}}">
          <td class="d-flex">
            <button type="submit" class="btn btn-primary">Votar</button>
          </td>
        </form>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
{% endblock %}